{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1 class="mt-3 header">All Users</h1>
            </div>
            <div class="col-1">
                <h3>Id</h3>
            </div>
            <div class="col-3">
                <h3>Username</h3>
            </div>
            <div class="col-3">
                <h3>Email</h3>
            </div>
            <div class="col-5">
                <h3>Password</h3>
            </div>
        </div>
        <div class="row">
            {% for user in user %}
                <div class="col-1 mt-3">
                    {{ user.id }}
                </div>
                <div class="col-3 mt-3">
                    {{ user.username }}
                </div>
                <div class="col-3 mt-3">
                    {{ user.email }}
                </div>
                <div class="col-3 mt-3">
                    {{ user.password }}
                </div>
                <div class="col-2 mt-3">
                    <button type="button" class="btn btn-danger btn-sm">
                        <a href="/delete-user/{{ user.id }}">
                            Delete User
                        </a>
                    </button>
                    <button type="button" class="btn btn-warning btn-sm">
                        <a href="/edit-user/{{ user.id }}">
                            Edit User
                        </a>
                    </button>
                </div>
            {% endfor %}
        </div>
        <div class="row mt-5">
            <div class="col-12 offset-4">
                <button type="button" class="btn btn-info btn-sm">
                    <a href="/add-user-form">
                        Add User
                    </a>
                </button>
            </div>
        </div>
    </div>
{% endblock %}
